[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Tiny wrapper around dumb old browser side DOM APIs
[access "refs/*"]
	owner = group user/Sam (selkhateeb)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sam (selkhateeb)
	label-Verified = -1..+1 group user/Sam (selkhateeb)
	push = group user/Sam (selkhateeb)
	read = group user/Sam (selkhateeb)
	rebase = group user/Sam (selkhateeb)
	removeReviewer = group user/Sam (selkhateeb)
	submit = group user/Sam (selkhateeb)
[access "refs/heads/*"]
	create = group user/Sam (selkhateeb)
	push = +force group user/Sam (selkhateeb)
	pushMerge = group user/Sam (selkhateeb)
	read = group user/Sam (selkhateeb)
[access "refs/tags/*"]
	push = group user/Sam (selkhateeb)
	push = +force group user/Sam (selkhateeb)
